[Unit]
Description=Travel Planner (Flask + Gunicorn)
After=network.target

[Service]
User=kauesenger
WorkingDirectory=/home/kauesenger/travel_planner
EnvironmentFile=/home/kauesenger/travel_planner/.env
ExecStart=/home/kauesenger/travel_planner/venv/bin/gunicorn -w 2 -b 0.0.0.0:5001 wsgi:app
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target