{% extends "base_add_card.html" %}

{% block card_content %}
<div class="activity-card tag-food">
    <!-- conteúdo do card -->
    <form method="POST" action="{{ url_for('trip.add_food', trip_id=trip._id) }}">
        {{ form.hidden_tag() }}

        <div class="mb-2">
            {{ form.title.label(class="form-label") }}
            {{ form.title(class="form-control") }}
        </div>

        <div class="mb-2">
            {{ form.address.label(class="form-label") }}
            {{ form.address(class="form-control", placeholder="location") }}
        </div>

        <div class="mb-2">
            {{ form.type.label(class="form-label") }}
            {{ form.type(class="form-select") }}
        </div>

        <div class="mb-2">
            {{ form.cost.label(class="form-label") }}
            <div class="row">
                <div class="col-6">
                    {{ form.currency(class="form-select") }}
                </div>
                <div class="col-6">
                    {{ form.cost(class="form-control", min="0", step="0.01") }}
                </div>

            </div>
        </div>


        <div class="mb-2">
            {{ form.obs.label(class="form-label") }}
            {{ form.obs(class="form-control") }}
        </div>

        <div class="form-check form-switch mb-2">
            {{ form.confirmed(class="form-check-input") }}
            {{ form.confirmed.label(class="form-check-label") }}
        </div>
        <div class="mt-3 text-end">
            <button type="submit" class="btn btn-light">Add</button>
        </div>


    </form>
</div>
<script>
document.addEventListener("submit", function (e) {
    const form = e.target;
    console.log("Form action:", form.action);
    console.log("Method:", form.method);
});
</script>
{% endblock %}